body, input {
    font-size: 1.25rem;
}
.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid;
    line-height: 25px;
}
.row:last-child {
    border-bottom: none;
}
.row > input {
    flex-grow: 1;
}
.row > span {
    flex-grow: .25;
}
img {
    width: 20px;
    height: 20px;
}
input[type="file"] {
    display: none;
}
label {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    background-color: rgba(12, 12, 13, .1);
    border: none;
    border-radius: 2px;
    text-align: right;
}
label:hover {
    background-color: rgba(12, 12, 13, 0.2);
}
label:active {
    background-color: rgba(12, 12, 13, 0.3);
}
.row > .spacer {
    flex-grow: 1;
}
/* input { */
/*     height: 30px; */
/*     text-align: right; */
/*     width: 100%; */
/* } */
